# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [11]:
import pandas as pd

# Load data from the three CSV files
file1_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
file2_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
file3_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

In [16]:
combined_data = pd.concat([pd.read_csv(file1_url), pd.read_csv(file2_url), pd.read_csv(file3_url)], ignore_index=True)

In [17]:
# Data cleaning and formatting
# Example: remove any duplicate rows
combined_data = combined_data.drop_duplicates()

In [14]:
# Save the combined and cleaned data to a new CSV file
combined_data.to_csv("combined_data.csv", index=False)

In [18]:
# Display the combined and cleaned data
combined_data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [19]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
data = pd.read_csv(url)

In [20]:
# Display the first few rows of the dataset
print("Original dataset:")
print(data.head())

Original dataset:
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

In [21]:
# Remove any leading/trailing whitespaces from column names
data.columns = data.columns.str.strip()

In [22]:
data.columns = data.columns.str.lower()

In [23]:
data.columns = data.columns.str.replace(' ', '_')

In [24]:
data.dropna(inplace=True)

In [25]:
date_columns = ['effective_to_date']
for column in date_columns:
    data[column] = pd.to_datetime(data[column])

In [26]:
data['policy_with_complaints'] = data['policy'] + '_' + data['number_of_open_complaints'].astype(str)

In [27]:
print("\nCleaned and structured dataset:")
print(data.head())

Cleaned and structured dataset:
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

      policy_type        policy renew_offer_type  sales_channel  \
0  Corporate Auto  Corporate L3           Offer3          Agent
1   Personal Auto   Personal L3           Offer4    Call Center
2   Personal Auto   Personal L3           Offer3    Call Center
3  Corporate Auto  Corporate L3           Offer2         Branch
4   Personal Auto   Personal L2           Offer1         Branch

   total_claim_amount  vehicle_class  vehicle_size  vehicle_type month  \
0          292.800000  Four-Door Car       Medsize             A     2
1          744.924331  Four-Door Car       Medsize             A     1
2          480.000000            SUV       Medsize             A     2
3          484.013411  Four-Door Car       Medsize             A     1
4          707.925645  Four-Door Car       Medsize             A     1

          policy_with_complaints
0               Corporate L3_0.0
1                Personal L3_0.0
2                Personal L3_0.0
3               Corporate L3_0.0
4  Personal L2_0.384256105867471

[5 rows x 28 columns]

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [28]:
# Create a pivot table to show total revenue for each sales channel
sales_channel_revenue = data.pivot_table(index='sales_channel', values='total_claim_amount', aggfunc='sum')

In [29]:
# Round the total revenue to 2 decimal points
sales_channel_revenue['total_claim_amount'] = sales_channel_revenue['total_claim_amount'].round(2)

In [30]:
# Display the summary table
print("Total Revenue by Sales Channel:")
print(sales_channel_revenue)

Total Revenue by Sales Channel:
               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [31]:
# Create a pivot table to show average customer lifetime value per gender and education level
avg_clv_gender_education = data.pivot_table(index=['gender', 'education'], values='customer_lifetime_value', aggfunc='mean')

In [32]:
# Round the average customer lifetime value to 2 decimal points
avg_clv_gender_education['customer_lifetime_value'] = avg_clv_gender_education['customer_lifetime_value'].round(2)

In [33]:
# Display the pivot table
print("\nAverage Customer Lifetime Value by Gender and Education Level:")
print(avg_clv_gender_education)

Average Customer Lifetime Value by Gender and Education Level:
                             customer_lifetime_value
gender education
F      Bachelor                              7874.27
       College                               7748.82
       Doctor                                7328.51
       High School or Below                  8675.22
       Master                                8157.05
M      Bachelor                              7703.60
       College                               8052.46
       Doctor                                7415.33
       High School or Below                  8149.69
       Master                                8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here